@import url("/style/reset.css");


@font-face {
    font-family: 'BraveSansText-SemiBold';
    src: url(/Novas_Fontes/Breve\ Sans\ Text\ Semi\ Bold.otf  );
}

@font-face {
    font-family: 'BraveSansText-Light';
    src: url(/Novas_Fontes/Breve\ Sans\ Text\ Light.otf  );
}

body {
    background-image: url(../images/bkd.png);
    background-size: cover;
    color: #EDE9E9;

}

.textos {

    background-image: url(../images/luz.png);
    filter: brightness(1.2);
    background-size: cover;
    background-position: center right;

    text-align: center;

    color: #EDE9E9;

    position: absolute;

    width: 760px;
    height: 440px;

    left: 5%;
    top: 20%;



}

#titulo {
    padding-top: 15%;
    font-family: 'BraveSansText-SemiBold';
    font-size: 50px;



}

#texto {
    font-family: 'BraveSansText-Light';
    font-size: 25px;


}

.form {
    position: absolute;
    margin-top: 3%;
    margin-left: 5%;
    font-family: 'BraveSansText-Light';
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 60%;
}

.passos {
    
    font-size: 15px;
    color: white;
    font-family: 'BraveSansText-Light';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30%;
    
}

input {
    width: 350px;
    height: 30px;
    color: white;
    border-radius: 15px;
    margin: 20px;
    font-size: 15px;
    font-family: 'BraveSansText-SemiBold';
    background-color: rgba(20, 24, 34, 1);
    border: 2px solid rgb(255, 255, 255);
    

}

.btnGrey {
    width: 100px;
    height: 45px;
    color: white;
    background-color: ;
    margin-top: 10px;
    text-align: center;
    border-radius: 15px;




}
.btn
{
    align-items: center;
    display: flex;
    justify-content: start;
    padding-left: 8%;
    
}

.btnGrey:hover {
    background-color: #0B7A9F;
    cursor: pointer;
}
.avancar {
    width: 100px;
    height: 45px;
    color: white;
    background-color: #05A9D0;
    text-align: center;



    
}
.avancar:hover {
    background-color: #0B7A9F;
    cursor: pointer;
}


.check {
    width: 15px;
    height: 15px;
    color: lightskyblue;
    margin-right: 10px;
    text-align: center;
    align-items: center;   
    justify-content: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'BraveSansText-SemiBold';
    color: lightskyblue;
}
p {
    font-size: 20px;
    font-family: ;
    color: white;
    font-style: italic;
    
}

.btnBlue {
    justify-content: center;
    align-items: center;
    display: flex;
    
    

}

.btnBlue:hover {
    background-color: #0B7A9F;
    cursor: pointer;
}